.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title{
    font-size: 85px;
    color: #ffff;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.containerInput{
    background-color: rgba(255,255,255,0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}

.containerInput input{
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    color: white;
    outline: none;
    margin-right: 8px
}

.containerInput input::placeholder{
    color: #F1F1F1;
}

.btnSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnSearch:hover{
    transform: scale(1.1);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 500px;
    border-radius: 8px;
}

.main h2{
    margin: 16px 0px;
    font-size: 40px;
}

.main span{
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width:768px){
    .title{
        font-size: 60px;
    }

    .main{
        max-width: 80%;
    }
    .main h2{
        font-size: 28px;
    }

}