    /* Banner inicial */
    .banner-termos {
        box-sizing: border-box;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/termos.png);
        background-position: center;
        background-repeat: none;
        background-size: cover;
        height: 200px;
    }

    .banner-termos h1 {
        color: white;
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
        padding-top: 4rem;
    }

    #termos .text{
        box-sizing: border-box;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #termos .text h2{
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    #termos .text h3{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    #termos .text h4{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
        display: inline-block;
    }

    #termos .text p{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    #termos .text ul, #termos .text li {
        list-style-type: disc;
        list-style: inside;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }